@font-face {
  font-family: 'Calibre Light';
  font-style: normal;
  font-weight: 400;
  src: url('calibre-test-light.woff') format('woff');
}
@font-face {
  font-family: 'Calibre Regular';
  font-style: normal;
  font-weight: 400;
  src: url('calibre-test-regular.woff') format('woff');

}
@font-face {
  font-family: 'Calibre Bold';
  font-style: normal;
  font-weight: 400;
  src: url('calibre-test-bold.woff') format('woff');
}
@font-face {
  font-family: 'Calibre Semi Bold';
  font-style: normal;
  font-weight: 400;
  src: url('calibre-test-semi-bold.woff') format('woff');

}


body {
  font-family: 'Calibre Light'

}


.location {
  font-size: 15px;
  font-family: 'Calibre Regular';
  text-decoration: underline;
  text-decoration-color: light grey;
  display: flex;
  margin: 0px;

}
.title {
  font-size: 36px;
  font-family: 'Calibre Regular', sans-serif;
  margin: 0px;
}
.nearby {
  font-size: 16px;
  font-weight: bold;
  font-family: 'Calibre Regular';
  margin: 0px;
}

.nearbyDiv {
  font-size: 16px;
  font-family: 'Calibre Light'
}

div .recommend {
  display: flex;
  flex-wrap: nowrap;


}
.recommend {
  font-size: 16px;
  font-family: 'Calibre Regular';

}

.thumbsup{
  font-family: 'Calibre Regular';
  font-size: 16px;
  color: #40D9AC;
}
.header {
  display: flex;
  flex-direction: column;
  width: 30%;
  border-bottom: 1px solid gray;
}

.circle {
  height: 30px;
  width: 30px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

div .bar {
  align-items: inline;
  justify-content: space-between;
  background-color: none;
}

.bar {
  display: flex;
  margin-bottom: 5%;
}





.upload {
  padding: 6px 7px 0px 10px;
  width: 92px;
  height: 35px;
  font-weight: bold;
  border-radius: 0px;
  border: .5px solid #D3D3D3;
  background: none;
  display: flex;
  font-family: 'Calibre regular';
  font-size: 14px;
}
.save {
  margin: 0px 10px 0px 0px;
  padding: 6px 7px 6px 10px;
  font-weight: bold;
  width: 92px;
  height: 35px;
  border-radius: 0px;
  border: .5px solid #D3D3D3;
  background: none;
  color: #E68585;
  display: flex;
  font-family: 'Calibre regular';

}
.up {
  margin: 0px 10px 0px 0px;
  padding: 6px 12px;
  border-radius: 0px;
  height: 40px;
  border: .5px solid #D3D3D3;
  background: none;
}

.topListing {
  display: flex;


}
.profilePhoto {
  height: 70px;
  width: 70px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5%;

}
.listedBy {
  margin-top: 2%;
  display: flex;

}

.hostedBy {
  display: flex;
  width: 15%;

}

.listing {
  display: flex;
  flex-direction: column;
  width: 30%;
  align-content: flex-end;
  font-family: 'Calibre Light';
  font-size: 18px;
}



.covid {
  color: #972985;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Calibre Regular';
  background-color: #F3E4EF;
  border-radius: 6px;
  width: 80%;
  justify-content: flex-end;
  padding: 5px;
}
div .covid {
  padding: 5px;

}
.here {
  color: #972985;
}

.description {
  font-family: 'Calibre Light';
  justify-content: right;
  /* width: 80%; */



}

div.cards {
  width: 30%;
  display: flex;
}

h1.card {
  font-family: 'Calibre Regular';
  font-size: 24px;
}

.detailBox {
  border: .5px solid #D3D3D3;
  width: 80%;
  margin: 4% auto;
  padding: 4% 4%;
  font-family: 'Calibre Regular';
  font-size: 16px;

}




div.card {
  border: .5px solid #D3D3D3;
  padding: 3%;
  width: 60%;
  flex: 1;
  margin: 2%;
  justify-content: center;
  font-family: 'Calibre Light';
  font-size: 18px;
}


.modals {
  display: flex;
  width: 30%;
  flex-wrap: wrap;
}
.modal::-webkit-scrollbar {
  display: none;
}
.ReactModal__Overlay {
  opacity: .5;
  transition: opacity 2000ms ease-in-out;
  animation: all 4s ease;
}
.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}

.modal {
  position: fixed;
  top: 2%;
  left: 40%;
  right: 40%;
  /* height: 80%; */

  border: 1px solid #ccc;
  background: #fff;
  overflow: scroll;
  border-radius: 4px;
  outline: none;
  padding: 20px;
}


button {
  outline: none;
}


button .modal {
  background: none;
  border: none;
  outline: none;

}

.moreDetails {
  color: #40D9AC;
  background: none;
  border: none;
  outline: none;
  position: absolute;
  bottom: 0;
  font-style: 'Calibre Regular';
  font-size: 16px;

}

.sendAMessage {
  color: #40D9AC;
}

.details {
  border-top: .5px solid #D3D3D3;
  border-bottom: .5px solid #D3D3D3;
  font-family: 'Calibre Regular';
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  display: flex;
  width: 30%;
}

.column {
  margin-left: 50px;
}

.detailHead {
  font-family: 'Calibre Regular';

}

.detailList {
  display: inline-block;
  font-family: 'Calibre Bold';
}


